/.cache/
/straight/
/org-roam.db
/init.el
/early-init.el
/.org-id-locations
/projectile-bookmarks.eld
/bakups/
/recentf
/transient/
/auto-save-list/
/eshell/
/\#\!*
/bookmarks
/.lsp-session-v1
/projects
/multisession/
/.log/
.emacs.desktop*
/projectile.cache
/history
/wm.el
/url/
/eww-bookmarks
/custom.el
/nov-places
